/* General body and container styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
table {
	border-spacing:0px;
}
body {
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
	position:absolute;
	
	cursor:grab;
    padding: 20px;    
    max-width: 100%;
    width: 750px;
	overflow: hidden;

}

.header-row {
	color:blue;
	font-size:60px;
	text-align: center;
}
/* First row styles */
.first-row {
    display: flex;
    justify-content: space-around;
	align-items: center;
    background-color: blue;
    padding: 10px;
	border: 2px solid grey;
	height: 20px;
	box-shadow: 5px 0px;
}

.white_text{
	font-family:courier new;
	color: white;
	flex-grow:1;
	
}
.first-row img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.shadow {
	box-shadow: 5px 10px;
}

.sponssi-columns{
	display: flex;
	flex-direction:column;
    justify-content: space-between;
	border-top: #ccc 5px solid;
    border-right: #ccc 5px solid;
    border-bottom: #777 5px solid;
    border-left: #777 5px solid;
	background-color: rgba(255, 255, 255, 0.9);
}

/* Three column layout */
.columns {
    display: flex;
    justify-content: space-between;
	border-top: #ccc 5px solid;
    border-right: #ccc 5px solid;
    border-bottom: #777 5px solid;
    border-left: #777 5px solid;
	background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */	

}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.column img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 10px;
}

.single_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.single_column img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 10px;
}

.column p {
    text-align: center;
    font-size: 16px;
}

/* Center column styles */
.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rows{
	display: flex;
	flex-direction: row;
}
.center-column img {
    max-width: 200px; /* Larger image size for center */
    margin-bottom: 10px;
}

.no_link {
	all:unset;
	cursor:zoom-in;
}

.small_buttons {
	justify-content:flex-end;
	flex-direction:row;
	min-width:70px;
}

/* Image that moves */
.moving-image {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: move-left-right 5s linear infinite; /* Animation to move image */
}


.scaling-div {
  position: absolute;
  height: auto;
  transform: scaleY(0);
  transition: transform 1s ease-in;
  -webkit-transition: transform 1s ease-in;
  -moz-transition: transform 1s ease-in;
  -o-transition: transform 1s ease-in;
}

.scaling-div.open_window {
	
	transform: scaleY(1);
	display: block;
}
table{
	max-width:90%;
}
tr{
	padding: 10px;
	transition: background-color 1s ease-out;
	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
}
tr:nth-child(odd){
	background-color: rgba(200,200,200,0.2);
}

tr:nth-child(even){
	background-color: rgba(200,200,200,0);
}
tr:hover {background-color: rgba(160,32,240,0.3);}

.aikatauluVsolu{
	width: 100px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.left{
	position:fixed;
	float:left;
	left:0px;
	top:10%;
}
.right{
	position:fixed;
	float:right;
	right:0px;
	top:10%;	
}

.sponsorit{
	display:flex;
	flex-direction:column;
}	
.sponsorit_bottom{
	display:none;
}	
.small_sponssi{
	display:none;
}

.videocontainer{
	
	height:493px;
}
.videoframe{
	width:750px;
	height:580px;	
}
/* Responsive layout for mobile screens */
@media (max-width: 768px) {

	.videocontainer{
		height:243px;
	}
	.videoframe{
		width:400px;
		height:310px;	
		
	}

	.sponsorit_top{
		display:block;
		position: fixed;
		top: 0px;
		width:400px;
	}	

	.scaling-div {
		display: none;
		position:static;
		transform: scaleY(0);
		width: 400px;
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		}
    .container {
        /*max-height: 800px; /* Allows container to grow beyond the viewport if needed */
		position:static;
		width: 400px;
    }

    .columns {
        flex-direction: column;
        align-items: center;		
    }
    
    .column {
        width: 100%;
        margin-bottom: 15px;
    }

    .first-row img {
        width: 20px;
        height: 20px;
    }

    .column img {
        max-width: 100px; /* Adjust image size on mobile */
    }

    .center-column img {
        max-width: 150px; /* Adjust center image size on mobile */
    }
	
	.single_column img {
		width: 100%;
		height: auto;
		max-width: 200px;
		margin-bottom: 10px;
	}
	
	.sponssi-columns{
		display: flex;
		flex-direction:column;
		justify-content: space-between;
		border-top: #ccc 5px solid;
		border-right: #ccc 5px solid;
		border-bottom: #777 5px solid;
		border-left: #777 5px solid;
		background-color: rgba(255, 255, 255, 0.9);
	}
	
	.left{
		display:none;
	}
	.right{
		display:none;
	}
	.small_sponssi{
		display:block;
		position:static;
	}

.sponsorit_bottom{
	
	position: sticky;
	bottom: 0px;
	width:500px;
}	
	.sponssi-columns img{
		width: 100px;
	}
}

@media (max-width: 415px) {
	.videocontainer{
		width:350px;
	}

	.sponsorit_top{
		display:block;
		position: static;
		top: 0px;
		width:350px;
	}

	.container {
    	position:static;
		width: 350px;
    }
	
	.header-row {
		margin-top: 20px;
		color:blue;
		font-size:35px;
		text-align: center;
	}
	
	.first-row {
        height: 40px;
		padding: 5px;
    }
	
}

/*Liikenne*/

/* Viewport container */
.viewport {
    width: 100%; /* The width of the viewport */
    height: 100px; /* The height of the viewport */
    overflow: hidden;
    position: relative;
}

/* Animation for the image */
@keyframes move-left-right {
    0% {
        left: -100%; /* Start off-screen */
    }
    100% {
        left: 100%; /* End off-screen on the right */
    }
}

.imageShadow {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}